.titulo::first-letter {
    color: #F19F50;    
}

.titulo {
    font-size: 30px;
}
.cards_container {
    width: 90%;
    margin: auto;
    height: 120em;
    display: flex;
    flex-wrap: wrap;
    a {
        text-decoration: none;
    }
    h3 {
        padding: 15px;
    }
   
    .card-boton {
        display: inline-block;
        padding: 10px 20px;
        font-size: 22PX;
        background: #F19F50;
        color: #fff;
        margin: 10px 0;
    }
    
    .cards {
        width: 17em;
        height: 29em;
        margin: 20px auto;
    }
    .remera1 {
        @include card-remera1;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera2 {
        @include card-remera2;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera3 {
        @include card-remera3;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera4 {
        @include card-remera4;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera5 {
        @include card-remera5;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera6 {
        @include card-remera6;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera7 {
        @include card-remera7;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera8 {
        @include card-remera8;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera9 {
        @include card-remera9;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera10 {
        @include card-remera10;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera11 {
        @include card-remera11;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .remera12 {
        @include card-remera12;
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
}